#mapContainer {
    min-height: 400px;
}

@media screen and (min-width: 576px) {
    #map {
        height: calc(100vh - 80px);
    }

    #accordion {
        height: calc(100vh - 80px);
        overflow: auto;
    }
}

.card-image {
    height: 200px;
    width: 100%;
    display: block;
    object-fit: cover;
}

#error404 {
    position: absolute;
    width: 20rem;
    top: calc(50% - 10rem);
    left: calc(50% - 160px);
}