
#mapContainer {
    min-height: 400px;
}

@media screen and (min-width: 576px) {
    #map {
        height: calc(100vh - 80px);
    }

    #accordion {
        height: calc(100vh - 80px);
        overflow: auto;
    }
}

.card-image {
    height: 200px;
    width: 100%;
    display: block;
    object-fit: cover;
}

#error404 {
    position: absolute;
    width: 20rem;
    top: calc(50% - 10rem);
    left: calc(50% - 160px);
}

.verticalImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 400px;
}

.horizontalImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 400px;
}

@media screen and (max-width: 768px) {
    .horizontalImage {
        max-width: 100%;
    }
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imageBg {
    min-height: 300px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/91/Doctor_with_Nurse_Cartoon.svg");
    background-repeat: no-repeat;
}

a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color: #000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid yellow;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
}

#landing {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #222222;
    background-image: linear-gradient(to right, rgba(238,238,238, 1) 400px, rgba(238, 238, 238, 0.4) 800px, rgba(33, 150, 243, 0.1));
}

#landing * {
    font-weight: normal;
}

#landingContent {
    background: none;
    max-width: 500px;
}
